body {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: sans-serif;
    font-display: swap; 
}

.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #ff5d22;
    transition: 0.5s;
    border-radius: 5px;
    padding: 12px 25px 12px 50px;
    font-weight: 700;
    font-size: 16px; 
}
.default-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #221638;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px; 
}
.default-btn i {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 16.5px; 
}
.default-btn i.flaticon-user {
    margin-top: -1.5px; 
}
.default-btn:hover {
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px); 
}
.default-btn:hover span {
    width: 225%;
    height: 562.5px; 
}


@media only screen and (max-width: 767px) {
    
    body {
        font-size: 15px; 
    }
    .default-btn {
        padding: 11px 20px 11px 40px;
        font-size: 15px; 
    }
    .default-btn i {
        left: 19px;
        font-size: 14px; 
    }
}